.module.split-bg::before {
    background-image: url('../../icons/about-pattern.png');
}

.herobanner .content .title, .hero-banner .content .description, .hero-banner p {
    color: #fff;
    font: normal 16px/1.45 'Proxima Nova A',Helvetica,sans-serif;
    padding: 15px 0;
}

.herobanner h1, .herobanner h2, .herobanner h3, .herobanner h4, .herobanner h5, .herobanner h6 {
    color: #fff;
    padding: 0 0 15px;
}

.herobanner .content .button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.herobanner .content .button:hover {
    background: #fff;
}


.herobanner button{
    font: normal 16px/1.45 'Proxima Nova A',Helvetica,sans-serif;
}

@media (max-width: 1024px) {
    .herobanner h1, .herobanner h2, .herobanner h3, .herobanner h4, .herobanner h5, .herobanner h6 {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .module.wide-section .outer {
        background-image: url('../../icons/about-pattern.png');
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: auto 130%;
    }
}