.hero-banner {
    position: relative;
    width: 100%;
    height: 480px;
    opacity: 1;
    transition-duration: 0ms;
    background-size: cover;
}

.hero-banner.right-content .arrow {
    position: absolute;
    zoom: 1;
    background: url(//1769030.fs1.hubspotusercontent-na1.net/hubfs/1769030/aldevron_template/about-pattern.png) 0 50% no-repeat;
    background-size: cover;
    height: 100%;
    right: 0;
    top: 0;
    width: 50%;
}

.hero-banner picture * {
    height: 100%;
}

.hero-banner .content {
    position: absolute;
    right: 140px;
    z-index: 30;
    top: 30px;
    width: 25%;
    text-align: left;
    padding: 70px 40px 40px 5px;
    margin: auto;
}

.hero-banner .content .title, .hero-banner .content .description {
    color: #fff;
    font: normal 16px/1.45 Proxima Nova A,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 0 0 15px 0;
}

.hero-banner .content .title {
    font-family: Brown-Ald,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -.02em;
    line-height: normal;
    margin: 0;
    padding: 0 0 0.5em;
}

.hero-banner .content .description {
    font: normal 16px/1.45 Proxima Nova A,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
    padding: 0.6em 0;
}

.hero-banner .content .button {
    font-weight: 400;
    line-height: 18px;
    font-size: 18px;
    border: 1px solid #fff;
    font-family: Brown-Ald,Helvetica,Arial,sans-serif;
    transition: background .3s;
}

.content .button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}


button{
    font: normal 16px/1.45 Proxima Nova A,Helvetica,sans-serif;
}
