.quote {
  background-color: #f5f5f5;
  line-height: 1.6;
  font-weight: 500;
}

main > .section > div {
  max-width: 1491px;
  margin: auto;
}
@media (min-width: 768px) {
  .quote {
    margin: 2rem auto;
    padding: 2rem;
    font-size: 1.8rem;
    max-width: 97%;
  }

 .quote-wrapper{
 width: calc(100vw - 20px);
margin-left: calc(-50vw + 50% + 10px);
 }
 
 .quote-title{
    border-left: unset;
    padding: 0 0 0 100px;
}
 }