 .quote-container {
    position: relative;
    margin: 0 auto;
    width: 980px;

 }

 .background-color {
  background-color: grey;
  padding: 4.5rem;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
 }

 @media (max-width: 1024px) {
  .background-color {
    width: auto;
    left: auto;
  }
 }

.title h2 {
  color: #fff !important;
  border-left: none !important;
  position: absolute;
  top: 28px;
  padding-left: 0px !important;
}