.columns > div {
  display: flex;
  flex-direction: column;
}

.columns picture {
  display: block;
  float: none;
  max-width: none;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative;
  width: 100%;
}

.columns picture img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 100%;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
