.hero {
  display: none;
}

.hero .hero-content {
  min-height: 310px;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero .bg-primary {
  background-position: 50% 50%;
  background-size: cover;
}

.hero .hero-content h2 {
  line-height: 1.2;
  padding: 0;
  color: white;
  font-size: 44px;
  text-shadow: 0 0 6px rgba(0,0,0,50%);
}

@media (max-width: 1120px) {
  .hero .hero-content {
    min-height: 260px;
  }
}

@media (max-width: 860px) {
  .hero .hero-content {
    min-height: 220px;
  }
}

@media (max-width: 767px) {
  .hero .hero-content {
    min-height: 180px;
  }
}
