.hero .hero-content {
  min-height: 310px;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero .hero-content h2 {
  line-height: 1.2;
  padding: 0;
  color: white;
  font-size: 44px;
  text-shadow: 0 0 6px rgba(0,0,0,50%);
}
