.grey-article-outer {
    background-color: #ededed;
    padding: 80px 0;
}

.grey-article-outer > div {
    max-width: 980px;
    margin: 0 auto;
}

.recent-posts  {
    text-align: left;
}

@media (max-width: 768px) {
    .grey-article-outer {
        padding: 60px 0;
    }
}