.mmg-tabs {
    padding: 20px 0;
}
 
.tabs .tabpanel ul + p > em {
    margin-left: 18px;
    display: block;
}

.tabpanel .two-column-table tr td:nth-child(1) {
    width: 25%;
}

.tabpanel .two-column-table tr td:nth-child(2) {
    width: 75%;
}