.wrapper {
    /* text-align: center; */
    padding: 5rem 14rem;
}

.article-lists {
    display: flex;
    justify-content: center;
    grid-gap: 3rem;
    flex-wrap: wrap;
}

.article-card {
    position: relative;
    display: flex;
    flex: 2 1 auto;
    text-align: var(--custom-text-alignment, left);
    flex-direction: var(--custom-direction, column);
    min-width: var(--custom-min-width);
    height: var(--custom-height);
    height: var(--custom-min-height);
    width: var(--custom-width, 300px);
    color: var(--custom-color);
    word-wrap: break-word;
    background-color: var(--custom-bg, #fff);
    background-clip: border-box;
    border: var(--custom-width) solid var(--custom-border-color);
    border-radius: var(--custom-border-radius, 3px);
    /* box-shadow: 2px 2px 3px 0.5px rgb(0 0 0 / 0.05), 0 0px 0px -8px rgb(0 0 0 / 0.1); */
    
    transition-property: var(--custom-ts-property, transform);
    transition-timing-function: var(--custom-ts-timing, cubic-bezier(0.4, 0, 0.2, 1));
    transition-duration: var(--custom-ts-duration, 150ms);
    
    cursor: var(--custom-cursor, pointer);
    padding: 0px;
}

.horizontal .article-card {
    padding: 1rem 2rem;
    flex-direction: var(--custom-direction, row);
}
  
.article-card-header, .article-card-body, .article-card-footer {
    padding: var(--custom-width, 0.75rem 0.5rem);
}
  
.article-card .article-card-img img {
    max-width: 120px;
    width: 100%;
    max-height: 130px;
    height: 100%;
    flex-shrink: 0;
    margin: auto 20px auto 0;
}
  
.article-card .article-card-header {
    background-color: var(--custom-header-color, #fff);
}

.article-card .article-card-title {
    font-size: var(--text-size, 1.5rem);
    line-height: var(--text-line-height, 1.5rem);
}

.article-card .article-card-subtitle {
    font-weight: 700;
    font-size: var(--text-size, 1.875rem);
    line-height: var(--text-line-height, 2.25rem);
}

.article-card .redirect-link {
    font-weight: 600;
}

.article-card .article-card-body {
    flex: 1 1 auto;
    background-color: var(--custom-body-color, #fff);
}
  
.article-card .article-card-footer {
    background-color: var(--custom-footer-color, #fff);
}

.button {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Brown-Ald, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    padding: .8em 1.3em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .3s;
    vertical-align: middle;
    width: auto
}

.button:hover {
    background-color: #000;
    color: #fff;
}
