atomic-search-box::part(wrapper) {
    border-color: rgb(75 85 99);
    background-color: rgb(249 250 251);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

atomic-search-box::part(submit-button) {
    margin: auto;
    margin-right: 9px;
    background-color: #ec8f2d;
    width: 2rem;
    height: 2rem;
    border-radius: 0.375rem;
    text-align: center;
    line-height: 1em;
}

atomic-result .display-list {
    position: relative;
    padding-right: 20%;
}

atomic-result .btn-right-view {
    position: absolute;
    top: 50%;
    right: 0%;
}

.btn-view {
    background-color: #dc6016;
    border: 1px solid #dc6016;
    color: #fff;
    margin-top: .5rem;
    width: 7rem;
    padding: .5rem 0;
    border-radius: .375rem;
    font-weight: 600;
}

.f-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-left: 1rem;
}

atomic-search-layout{
    text-align: left;
}

.search-title{
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.f-col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-left: 1rem;
}

.btn-atomic-link{
    width: 7rem;
    padding: .5rem 0;
    border-radius: .375rem;
    font-weight: 600;
}