atomic-search-box::part(wrapper) {
    border-color: rgb(75 85 99);
    background-color: rgb(249 250 251);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

atomic-search-box::part(submit-button) {
    margin: auto;
    margin-right: 9px;
    background-color: #ec8f2d;
    width: 2rem;
    height: 2rem;
    border-radius: 0.375rem;
    text-align: center;
    line-height: 1em;
}

atomic-pager::part(next-button) {
    border: none;
    color: var(--atomic-primary-dark)
}

atomic-pager::part(previous-button) {
    border: none;
    color: var(--atomic-primary-dark)
}

atomic-pager::part(buttons) {
    border: none;
}

atomic-pager::part(active-page-button) {
    color: var(--atomic-primary-dark)
}

atomic-result .display-list {
    position: relative;
    padding-right: 20%;
}

atomic-result .btn-right-view {
    position: absolute;
    top: 50%;
    right: 0%;
}

.btn-view {
    background-color: #dc6016;
    border: 1px solid #dc6016;
    color: #fff;
    margin-top: .5rem;
    width: 7rem;
    padding: .5rem 0;
    border-radius: .375rem;
    font-weight: 600;
}

atomic-search-layout{
    text-align: left;
}

.search-title{
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-atomic-link{
    width: 7rem;
    padding: .5rem 0;
    border-radius: .375rem;
    font-weight: 600;
}

atomic-layout-section.atomic-pagination{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.search{
    margin: auto 6% ;
}

@media (max-width: 540px) { 
    .search{
        margin: 0% ;
    }
}

@media (max-width: 820px) { 
    .search{
        margin: 0% ;
    }
}
