.img-colorbox-popup {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,.1);
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.1);
    box-sizing: border-box;
    cursor: pointer;
    margin: .6em 0;
    padding: 10px
}

.img-colorbox-popup:after {
    clear: both;
    color: #e46b29;
    display: block;
    padding-top: 5px;
    text-align: right
}

.img-colorbox-popup.half-right {
    margin-left: 3%
}

.img-colorbox-popup.half-left {
    margin-right: 3%
}

.img-colorbox-popup:after,[class*=" icon-"],[class^=icon-] {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ald-icons!important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none
}

.icon-search:before,.img-colorbox-popup:after {
    content: "\e900"
}

.flex,ul.flex-list,ul.ulflex {
    display: flex;
    flex-wrap: wrap;
}

.flex .col {
    box-sizing: border-box;
    margin-top: 4%
}

.flex.cols2>.col,ul.flex-list.cols2>li,ul.ulflex.cols2>li {
    margin-left: 4%;
    width: 48%
}

.flex.cols2>.col:nth-child(odd),ul.flex-list.cols2>li:nth-child(odd),ul.ulflex.cols2>li:nth-child(odd) {
    margin-left: 0
}

.flex.cols3>.col,ul.flex-list.cols3>li,ul.ulflex.cols3>li {
    margin-left: 3.5%;
    width: 31%
}

.flex.cols3>.col:nth-child(3n+1),ul.flex-list.cols3>li:nth-child(3n+1),ul.ulflex.cols3>li:nth-child(3n+1) {
    margin-left: 0
}

.flex.cols4>.col,ul.ulflex.cols4>li {
    margin-left: 2.66%;
    width: 23%
}

.flex.cols4>.col:nth-child(4n+1),ul.ulflex.cols4>li:nth-child(4n+1) {
    margin-left: 0
}

.flex.cols2>.col:nth-child(2),.flex.cols3>.col:nth-child(2),.flex.cols3>.col:nth-child(3),.flex.cols4>.col:nth-child(2),.flex.cols4>.col:nth-child(3),.flex.cols4>.col:nth-child(4),.flex>.col:first-child {
    margin-top: 0
}