.landing-section .float-left {
    width: 48%;
    float: left;
}

.landing-section .float-right {
    float: right;
    width: 48%;
}

input, select {
    /* -webkit-appearance: none; */
    /* appearance: none; */
    /* width: 100% !important; */
    border-radius: 1px!important;
    border: 1px solid #d6dde3!important;
    font-family: 'Open Sans',sans-serif!important;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 20px!important;
    color: #6a6a6a!important;
    padding: 10px!important;
    margin: 5px 0!important;
}

input[type="submit"] {
    color: var(--text-color)!important;
}

input[type="submit"]:hover {
    color: var(--primary-color)!important;
}

@media (max-width: 950px) {
    .landing-section .float-left {
        width: 100%;
        float: none;
    }
    
    .landing-section .float-right {
        float: none;
        width: 100%;
    }
}