#footer-orange{
  line-height: normal;
}

.footer-wrapper div#footer-orange .outer {
  display: grid;
  grid-template-columns: 3fr 20%;
}

.footer-wrapper div#footer-orange .hs-menu-wrapper {
  width: 100%;
}

.footer-wrapper div#footer-black div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons.clearfix {
  text-align: right;
}
@media (max-width: 767px){
  .footer-wrapper div#footer-black div {
    display: block;
  }
}
@media (max-width: 1024px){
  .footer-wrapper div#footer-black div {
    padding: 0 20px;
  }
  .footer-wrapper div#footer-orange .outer{
    grid-template-columns: 1fr;
  }
  .footer-wrapper div#footer-orange .outer .social-icons{
    display: flex;
    justify-content: flex-end;
  }
}
.social-icons.clearfix img {
  max-width: 44px;
}

#footer-black.outer * {
  color: #fff;
}

#footer-black img {
  width: 55px;
}

.footer-wrapper div#footer-black div.footericon.social-media-footer {
  display: none;
}
