.footer {
  background-color: #1a1919;
}

#footer-orange{
  line-height: normal;
}

.footer-wrapper div#footer-orange .outer {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr;
}

.footer-wrapper div#footer-orange .hs-menu-wrapper {
  width: 100%;
}

.footer-wrapper div#footer-black div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social-icons.clearfix {
  text-align: right;
}

@media (max-width: 767px){
  .footer-wrapper div#footer-black div {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
}

@media (max-width: 1024px){
  .footer-wrapper div#footer-orange .outer {
    padding-left: 0!important;
    padding-right: 0!important;
    grid-template-columns: 1fr;
  }

  .footer-wrapper div#footer-black div {
    padding: 0 20px;
  }

  .footer-wrapper div#footer-orange .outer .social-icons{
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 479px){
  .footer-wrapper div#footer-black div {
    padding: 0 10px;
  }
}

.social-icons.clearfix img {
  max-width: 44px;
}

#footer-black.outer * {
  color: #fff;
}

.footer-opco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1a1919;
  color: #fff;
  padding-bottom: 20px;
}

.footer-opco ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
}

.footer-opco li {
  flex: 1 1 calc(11.111% - 10px);
  margin: 5px;
  box-sizing: border-box;
}

.footer-opco a {
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.footer-opco img {
  max-width: 100%;
  height: 37px;
  filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
  .footer-opco li {
    flex: 1 1 calc(33.333% - 10px); 
  }
}

@media (max-width: 479px) {
  .footer-opco li {
    flex: 1 1 calc(50% - 10px);
  }
}

#footer-black img {
  width: 55px;
}

.footer-wrapper div#footer-black div.footericon.social-media-footer {
  display: none;
}

#footer-orange .social-icons a[href*="twitter"]{
    width: 41px;
    height: 48px;
    opacity: .85;
    margin-left: -2px;
}

@media only screen and (min-width: 861px) {
  #footer-orange .social-icons a[href*="twitter"]{
    margin-left: 2px;
  }
}

@media only screen and (min-width: 1025px){
  #footer-orange .social-icons a[href*="twitter"] {
    margin-right: 5px;
  }
}